html
  head
    title The title
    link(rel="shortcut icon" href="static/images/favicon.ico")
    link(rel="stylesheet" href="static/css/tachyons.css")
  body
    nav(class="pa3 pa4-ns sans-serif bb b--black-10")
      a(class="link dim black b f6 f5-ns dib mr3" href="/") Learn Vue

    block content
    
    script(src="static/js/vue.min.js")
    script(src="static/js/lodash.min.js")
    block pageScript
