extends layouts/main.pug

block content
  div(class="pa3 pa4-ns")
    div(class="mb2")
      a(class="link dim b f6 f5-ns dib mr3" href="/markdown-editor") 1. markdown-editor
    div(class="mb2")
      a(class="link dim b f6 f5-ns dib mr3" href="/") 1. markdown-editor
